h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 80px;
  color: black;
}

h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px
}

h1.alt {
  font-family: 'Bungee Outline', cursive;
}

.content {
  margin-top: 40px
}

.small-content {
  margin-top: 20px;
}