/* NOTE: Fonts */
body {
  overflow: hidden;
  /* Hide scrollbars */
}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 100px;
  color: black;
}

h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px
}

h1.alt {
  font-family: 'Bungee Outline', cursive;
}

.time {
  position: absolute;
  left: 10px;
  top: 10px;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2
}

.profile {
  position: absolute;
  height: 75%;
  width: 33%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: cover;
}

.footer {
  position: fixed;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  left: 0px;
  right: 0px;
  bottom: 20px;
  width: 100%;
  z-index: 4;
}

.footer ul li {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.footerMenu {
  margin: 0px;
  padding: 0px;
  width: auto;
}

.footerMenu li {
  list-style: none;
  float: left;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  width: 33.33%;
  background: white;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  visibility: hidden;
  position: absolute;
  bottom: 22px;
  background: white;
  width: 100%;
  color: black;
  border-top: 1px solid black;
}

.dropup-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.dropup {}

.dropup:hover .dropup-content {
  visibility: visible;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(.36, .65, .37, 1.02);
}

.dropup:hover {
  color: grey;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(.36, .65, .37, 1.02);
}

a {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  color: black;
}

a:hover {
  color: #AC09BC;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(.36, .65, .37, 1.02);
  text-decoration: none;
}

#pink:hover {
  color: #AC09BC;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(.36, .65, .37, 1.02);
}